.navbar .navbar-brand {
	color: rgba(255, 255, 255, 0.85);
	font-size: 1rem;
}

.jumbotron {
	background-image: url('../img/jumbo-bg.jpg');
	background-size: cover;
}


/* newsletter */
#flashMessage2 {
	display: none;
	color: white;
	background-color: #64ce83;
	padding: 10px;
	border-radius: 5px;
	width: 70%;
	margin-bottom: 20px;
}

.signin {
	width: 350px;
	margin: 100px auto;
	padding: 20px;
}

.spacing {
	padding-top: 60px;
}